/* Font */
@font-face {
    font-family: "Raleway";
    src: url(police/Raleway/Raleway-VariableFont_wght.ttf) format("truetype");
}
body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}
img {
    color: transparent; /* hide alt text when loading */
}
h1 {
    font-size: 25px;
}
.bloc_page {
    /* margin are here to erase the white line on the side */
    margin-right: -8px;
    margin-left: -8px;
    margin-bottom: -8px;
}
/* Navigation */
.header_main {
    margin: 0px 50px 0px 50px;
    position: relative;
    margin-top: 50px;
}
nav {
    position: absolute;
    right: 0;
    top: 0;
}
a {
    text-decoration: none;
}
.nav_a {
    color: #0065FC;    
    padding: 40px 10px 0px 10px;   
    font-size: 18px;
}
.nav_a:not(:last-child) {
    margin-right: 40px;
    color: grey;
}
.nav_a:hover {
    color: #0065FC !important;
  border-top: 3px #0065FC solid;
}
/* Search and Filter field */
.search {
    margin: 30px 50px 0px 50px;
}
.search_p {
    margin-top: -10px;
    font-size: 19px;
    color: rgb(53, 53, 53);
}
.search_box {
    display: flex;
    border: 2px #f2f2f2 solid; 
    border-radius: 15px;
    width: 460px; 
    height:50px;
}
.search_element {
    display: flex;
}
.search_element:nth-child(1) {
    width: 10%;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}
.search_element:nth-child(2) {
    width: 60%;    
}
.search_element:nth-child(3) {
    width: 30%;
}
#search_button_p {
    margin: 0;
}
#search_button_icon {
    display: none;        
}
.icon_map {    
    font-size: 20px;
}
#search {
    width: 100%;
    border: none;
    padding: 0px 10px 0px 20px;
    font-size: 18px;
    font-weight: bold;
}
.search_button {
    width: 100%;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size:18px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
  }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(0, 0, 0);
  }
    ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(0, 0, 0);
  }
.filter {
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
h4 {
    font-size: 18px;
    margin-right: 10px;
}
.filter_box {
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 50px;
    border: 2px rgb(202, 200, 200) solid;
    border-radius: 30px;
    position: relative;
}
.filter_box:hover {
    transform: scale(1.2);
    background-color: #fc65007a;
    color: white;
}
.filter_box_icon {
    background-color: #deebff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px #deebff solid;
    border-radius: 50%;
    position: absolute;
    left: -5px;
}
.filter_icon {
    font-size: 20px;
    color: #0065FC;
}
.filter_text {
    padding-right: 20px;
    padding-left: 60px;
    font-size: 22px;
}
/* Box info */
.info_box {
    display: flex;
    align-items: center;
}
.info_cercle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px grey solid;
    border-radius: 50%;
}
.info_icon {
    color: #0065FC;
    font-size: 12px;
}
.info_text {
    margin-left: 15px;
}
/* First section */
.section1 {
    display: flex;
    margin: 0px 50px 0px 50px;
    height: 800px;
}
/* Sub-section */
.section1_box1 {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 50px;
    width: 74%;
    padding: 20px 40px 0px 40px;
    }
.box1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-right: -20px;
    margin-left: -20px;
}
.element1 {
    width: 29.2%;
    width: calc(33.33% - 50px); /* -50px because 2*margin+1*border */ 
    height: 250px;
    background-color: white;
    border-radius: 20px;
    border: 5px white solid;
    margin: 20px;
    box-shadow: 0 5px 50px #c7c6c6;
  }
.element1_img {
    height: 60%;
    width: 100%;
    border-radius: 18px 18px 0px 0px;
  }
.element1_text1 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 10px;    
  }
.element1_text2 {
    margin-top: 5px;
    font-size: 15px;
    padding-left: 10px;
    }
.element1_icon {
    padding-left: 10px;
}
.icon_blue {
    color: #0065FC;
}
.icon_grey {
    color: rgb(184, 183, 183);
}
/* Sub-section */
.section1_box2 {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 26%;
    padding: 20px 40px 0px 40px;
    position: relative;
}
.section1_box2_icon {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 26px;
}
.box2 {
    margin-top: -10px;
    margin-right: -20px;
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
}
.element2 {
    height: 180px;
    width: 100%;
    background-color: white;
    border: 5px white solid;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    box-shadow: 0 5px 50px #c7c6c6;
}
.element2_img {
    height: 100%;
    width: 40%;       
    border-radius: 18px 0px 0px 18px;
    }
.element2_text {
    margin-left: 25px;
    position: relative;
}
.element2_text1 {
    margin-bottom: 8px;
}
.element2_text2 {
    margin-top: 0px;
}
.element2_icon {
    position: absolute;
    bottom: 10px;
}
/* Second section */
.section2 {
    margin: 60px 50px 0px 50px;
}
/* Sub-section*/
.section2_box {
    display: flex;
}
/* Main box */
.box3 {
    height: 650px;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.box3:nth-child(1) {
    box-shadow: 0px 5px 50px #c7c6c6;
    border-radius: 20px;
}
.box3:nth-child(3) {
    box-shadow: 0px 5px 50px #c7c6c6;
    border-radius: 20px;
}
.box3:not(:last-child) {
    margin-right: 35px;
}
.element3 {
    border-radius: 20px;
}
.element3_img {
    width: 100%;
    height: 580px;
    border-radius: 20px 20px 0 0;
}
.element3_text {
    font-size: 20px;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
}
.element4 {
    border-radius: 20px;
    width: 100%;
}
.element4_img {
    width: 100%;
    height: 100px;
}
.element4_text {
    font-size: 20px;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
}
/* Sub-Box */
.box3_v1 {
    width: 100%;
    height: 55%;
    margin-bottom: 50px;  
    box-shadow: 0px 5px 50px #c7c6c6;
    border-radius: 20px;  
}
.element3_img_v1 {
    width: 100%;
    height: 287.5px;
    border-radius: 20px 20px 0 0;
}
.box3_v2 {
    width: 100%;
    height: 37.4%;
    height: calc(45% - 50px);
    box-shadow: 0px 5px 50px #c7c6c6;
    border-radius: 20px;
}
.element3_img_v2 {
    width: 100%;
    height: 173.1px;
    border-radius: 20px 20px 0 0;
}
.box3_v3 {
    width: 100%;
    height: 45%;
    margin-bottom: 50px;
    box-shadow: 0px 5px 50px #c7c6c6;
    border-radius: 20px;
}
.element3_img_v3 {
    width: 100%;
    height: 222.5px;
    border-radius: 20px 20px 0 0;
}
.box3_v4 {
    width: 100%;
    height: 47.2%;
    height: calc(55% - 50px);
    box-shadow: 0px 5px 50px #c7c6c6;
    border-radius: 20px;
}
.element3_img_v4 {
    width: 100%;
    height: 236.8px;
    border-radius: 20px 20px 0 0;
}
/* Footer */
footer {
    display: flex;
    background-color: #f2f2f2;
    margin-top: 70px;
    padding: 40px 50px 30px 50px;
}
.footer_element {
    width: 33%;
}
h3 {
    margin-bottom: 26px;
}
.anchor {
    color: black;
}
/* Responsive small screen*/
@media screen and (max-width: 768px) {
    p {
        font-size: 22px !important;
    }
    /* Navigation Header */
    .header_main {
        margin: auto;
        width:100%;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        margin-top: 20px;
      }
    nav {
        position: relative;
        margin-left: -50px;
        display: flex;
    }
    #nav_a {
        position: absolute;
        right: 100px;
        top: -50px;
        font-size: 25px;
    }
    .nav_a {          
        font-size: 25px;  
        margin-right: 0px !important;
        display: block;
        padding-left: 50px;
        width: 100%;
        border-bottom: 5px #e4e2e2 solid;
        padding-bottom: 10px;
    }
    .nav_a:hover {
        border-top: none;
        border-bottom: 5px #0065FC solid;
        padding-bottom: 10px;
    }
    .logo {
        height: 80px;
    }
    h1 {
        font-size: 35px;
    }
    /* Search and filter */
    .search_box {                
        width: 100%; 
        height: 65px;
        margin-top: 50px;
    }
    #search {
        font-size: 28px;
    }
    .search_button {
        border-radius: 15px;
    }
    .icon_map {
        font-size: 22px;
    }
    .search_element:nth-child(1) {
        width: 14%;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 15px 0px 0px 15px;
    }
    .search_element:nth-child(2) {
        width: 72%;    
    }
    .search_element:nth-child(3) {
        width: 14%;
        display: flex;
    }
    #search_button_p {
        display: none;
    }
    #search_button_icon {
        display: initial;
        font-size: 22px;
    }
    .filter {        
        flex-wrap: wrap;
    }
    #filter_text {
        width: 100%;
        font-size: 22px;
        margin-bottom: 10px;
    }
    .filter_box {
        margin: 30px 30px 0px 30px;
        transform: scale(1.25);
    }
    .filter_box:last-child {
        margin-left: 35px;
    }
    /* Info */
    .info_cercle {
        width: 45px;
        height: 35px;
    }
    /* First section */
    .section1 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }
    h2 {
        font-size: 35px;
    }
    /* Sub-section */
    .section1_box1 {
        width: 85%;
        width: calc(100% - 80px);
        background-color: transparent;
    }
    .element1 {
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 5px;
        height: 300px;
      }
    .element1_text1 {
        font-size: 25px;
        margin-top: 15px;
    }  
    .element1_text2 {
        margin-top: 10px;
    }
    .element1_icon {
        margin-top: -5px;
    }
    h3 {
        font-size: 25px;
    }
    /* Sub-section */
    .section1_box2 {
        width: 85%;
        width: calc(100% - 80px);
        border-radius: 0;
        margin-bottom: 20px;
        padding-bottom: 40px;
    } 
    .section1_box2_icon {
        font-size: 35px;
        top: 50px;
    }
    .element2 {
        height: 200px;
    }
    .element2_text1 {
        font-size: 25px;
        margin-top: 15px;
    }
    /* Second section */
    .section2_box {
        flex-wrap: wrap;

    }  
    .box3 {
        width: 100%;
        margin-bottom: 50px;
        margin-right: 0 !important;
        height: 550px; /* 2*height_image + margin-bottom */
    }
    .box3_res_1 {
        height: 250px;
    }
    .box3_res_2 {
        height: 250px;
    }
    .element3_img  {
        height: 180px;
    }
    .element3_img_v1  {        
        height: 180px;
    }
    .element3_img_v2  {        
        height: 180px;
    }
    .element3_img_v3  {        
        height: 180px;
    }
    .element3_img_v4  {        
        height: 180px;
    }
    /* Footer */
    footer  {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .footer_element {
        width: 100%;
    }   
}
/* Responsive tablet */
@media screen and (min-width: 769px) and (max-width: 991px) {
     /* Navigation Header */
     nav {
        position: relative;
        margin-top: 20px;
    }
    #nav_a {
        position: absolute;
        right: 0;
        top: -50px;
    }
    .nav_a {           
        padding: 0px 5px 10px 5px;   
    }
    .nav_a:hover {
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }
    /* Search and filter */
    .search_box {                
        width: 100%; 
    }
    .search_element:nth-child(1) {
        width: 14%;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 15px 0px 0px 15px;
    }
    .search_element:nth-child(2) {
        width: 72%;    
    }
    .search_element:nth-child(3) {
        width: 14%;
        display: flex;
    }
    #search_button_p {
        display: none;
    }
    #search_button_icon {
        display: initial;
        font-size: 20px;
    }
    .filter {        
        flex-wrap: wrap;
    
      }
    #filter_text {
        width: 100%;
    }
    .filter_box {
        margin: 10px 10px 10px 15px;
    }
    /* first Section */
    .section1 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .section1_box1 {
        width: 85%;
        width: calc(100% - 80px);
        background-color: transparent;

    }
    .section1_box2 {
        width: 85%;
        width: calc(100% - 80px);
        border-radius: 0;
        margin-bottom: 20px;
    } 
    .element1 {
        width: 43.4%;
        width: calc(50% - 50px);
      }
    /* Second section */
    .section2_box {
        flex-wrap: wrap;
    }  
    .box3 {
        width: 46.4%;
        width: calc(50% - 25px);
        margin-bottom: 50px;
        margin-right: 0 !important;
    }
    .box3:nth-child(1) {
        margin-right: 50px !important;
    }
    .box3:nth-child(3) {
        margin-right: 50px !important;
    }
    /* Footer */
    footer  {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .footer_element {
        width: 50%;
    }   
}
